# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
ENV/

# Jupyter Notebook checkpoints (if used later)
.ipynb_checkpoints

# Plotly HTML and image exports
*.html
*.png

# OS files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.swp

# IDE files
.vscode/
.idea/

# Environment settings
.env
